html, body {
    background-color: #f0f8af;
    box-sizing: border-box;
    /* margin: 0; */
    /* padding: ; */
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

header{
    text-align: center;
}

section{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
}

header h1{
    color: rgb(68, 68, 68);
    font-size: 5rem;
    text-align: center;
    margin: 8rem 2rem 0rem 2rem;
    font-weight: 900;
    /* margin-bottom: 1.25rem; */
}

header p{
    text-align: center;
    font-size: 2.5rem;
    margin: 1rem 2rem 8rem 2rem;
}

.hasnain{
    background: rgb(157, 244, 255);
    width: 100%;
    padding: 1.25rem;
    text-align: center;
    color: rgb(22, 15, 3);
}

.hasnain h1{
    font-size: 2.5rem;
}

.hasnain p{
    font-size: 1.875rem;
}

.anabiya{
    background: rgb(222, 125, 246);
    width: 100%;
    padding: 1.25rem;
    text-align: center;
    color: rgb(82, 15, 27);
}

.anabiya h1{
    font-size: 2.5rem;
}
.anabiya p{
    font-size: 1.875rem;
}

.sufiyan{
    background: rgb(85, 87, 227);
    width: 100%;
    padding: 1.25rem;
    text-align: center;
    color: bisque;
}

.sufiyan h1{
    font-size: 2.5rem;
}
.sufiyan p{
    font-size: 1.875rem;
}

.hassan{
    background: rgb(147, 67, 196);
    width: 100%;
    padding: 1.25rem;
    text-align: center;
    color: bisque;
}
.hassan h1{
    font-size: 2.5rem;
}
.hassan p{
    font-size: 1.875rem;
}

.maaz{
    background: rgb(239, 219, 69);
    width: 100%;
    padding: 1.25rem;
    text-align: center;
    color: rgb(53, 41, 27);
}
.maaz h1{
    font-size: 2.5rem;
}
.maaz p{
    font-size: 1.875rem;
}

.yusra{
    background: rgb(128, 243, 253);
    width: 100%;
    padding: 1.25rem;
    text-align: center;
    color: rgb(131, 62, 165);
}
.yusra h1{
    font-size: 2.5rem;
}
.yusra p{
    font-size: 1.875rem;
}

.furqan{
    background: rgb(237, 156, 43);
    width: 100%;
    padding: 1.25rem;
    text-align: center;
    color: rgb(128, 243, 108);
}
.furqan h1{
    font-size: 2.5rem;
}
.furqan p{
    font-size: 1.875rem;
}

.hoorain{
    background: rgb(237, 43, 214);
    width: 100%;
    padding: 1.25rem;
    text-align: center;
    color: rgb(94, 38, 100);
}
.hoorain h1{
    font-size: 2.5rem;
}
.hoorain p{
    font-size: 1.875rem;
}

.eshal{
    background: rgb(193, 102, 249);
    width: 100%;
    padding: 1.25rem;
    text-align: center;
    color: rgb(245, 141, 238);
}
.eshal h1{
    font-size: 2.5rem;
}
.eshal p{
    font-size: 1.875rem;
}

.hussain{
    background: rgb(71, 180, 223);
    width: 100%;
    padding: 1.25rem;
    text-align: center;
    color: rgb(30, 69, 222);
}
.hussain h1{
    font-size: 2.5rem;
}
.hussain p{
    font-size: 1.875rem;
}

.hunaina{
    background: rgb(217, 255, 173);
    width: 100%;
    padding: 1.25rem;
    text-align: center;
    color: rgb(221, 162, 255);
}
.hunaina h1{
    font-size: 2.5rem;
}
.hunaina p{
    font-size: 1.875rem;
}

.noor_fatima{
    background: rgb(243, 230, 255);
    width: 100%;
    padding: 1.25rem;
    text-align: center;
    color: rgb(97, 38, 131);
}
.noor_fatima h1{
    font-size: 2.5rem;
}
.noor_fatima p{
    font-size: 1.875rem;
}

.minahil{
    background: rgb(217, 255, 173);
    width: 100%;
    padding: 1.25rem;
    text-align: center;
    color: rgb(38, 78, 131);
}
.minahil h1{
    font-size: 2.5rem;
}
.minahil p{
    font-size: 1.875rem;
}

.iraj{
    background: rgb(139, 98, 166);
    width: 100%;
    padding: 1.25rem;
    text-align: center;
    color: rgb(125, 205, 239);
}
.iraj h1{
    font-size: 2.5rem;
}
.iraj p{
    font-size: 1.875rem;
}

.rafay{
    background: rgb(250, 16, 3);
    width: 100%;
    padding: 1.25rem;
    text-align: center;
    color: rgb(44, 23, 21);
}
.rafay h1{
    font-size: 2.5rem;
}
.rafay p{
    font-size: 1.875rem;
}

.ayna{
    background: rgb(231, 148, 143);
    width: 100%;
    padding: 1.25rem;
    text-align: center;
    color: rgb(230, 37, 172);
}
.ayna h1{
    font-size: 2.5rem;
}
.ayna p{
    font-size: 1.875rem;
}

.ayera{
    background: rgb(157, 111, 204);
    width: 100%;
    padding: 1.25rem;
    text-align: center;
    color: rgb(251, 48, 190);
}
.ayera h1{
    font-size: 2.5rem;
}
.ayera p{
    font-size: 1.875rem;
}

.ahad{
    background: rgb(11, 192, 224);
    width: 100%;
    padding: 1.25rem;
    text-align: center;
    color: rgb(5, 23, 9);
}
.ahad h1{
    font-size: 2.5rem;
}
.ahad{
    font-size: 1.875rem;
}

footer{
    background:#f0f8af;
    color: rgb(68, 68, 68);
    text-align:center;
    padding:2.5rem 1.25rem;
    margin-top:1.125rem;
}


@media (min-width: 100px) {
    html, body {
        font-size: 2vw;
    }
    span{
        display: block;
    }
    footer{
        font-size: 1.25rem;
    }
}

@media (min-width: 400px) {
    html, body {
        font-size: 1vh;
    }
    span{
        display: block;
    }
    footer{
        font-size: 1.25rem;
    }
    header p{
        font-size: 2vh;
    }
}

@media (min-width: 768px) {
    html, body {
        font-size: 1.2vh;
    }
    span{
        display: block;
    }
    footer{
        font-size: 1.25rem;
    }
}

@media (min-width: 1200px) {
    html, body {
        font-size: 12px;
    }
    span{
        display: inline;
    }
    footer{
        font-size: 16px;
    }
}
